.dropdown {
  width: 20px;
  height: 20px;
}

.title {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  align-items: center;
  text-align: center;
  color: var(--txt-main-color);
}

.statistics {
  &_container {
    padding-top: 15px;
    min-width: 100%;
    background-color: rgba(208, 202, 202, 0.2);
  }

  &_section {
    display: block;
    justify-content: center;
    margin-top: 32px;
  }

  &_balance {
    display: block;
    justify-content: center;
  }

  &_currency {
    display: none;
  }

  &_chart {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    margin-left: 15px;
  }

  &_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin-top: 20px;
  }

  &_table {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  &_donughnut {
    margin-left: auto;
    margin-right: auto;
  }
  &_select {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .statistics {
    &_container {
      height: 90vh;
      background-image: url('../../images/Dashboard/bg-tablet-dashboard.png');
      background-repeat: no-repeat;
      background-size: cover;
      flex-direction: column;
    }

    &_section {
      display: flex;
    }

    &_field {
      display: flex;
      padding-bottom: 150px;
    }

    &_balance {
      display: block
    }

    &_currency {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 30px;
    }

    &_chart {
      float: right;
    }

    &_title {
      margin-left: 50px;
    }

    &_table {
      display: flex;
      flex-direction: column;
      margin-top: 26px;
    }

    &_select {
      display: flex;
      width: 160px;
      flex-direction: row;
      justify-content: space-between;
      gap: 16px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .statistics {
    &_container {
      display: flex;
      align-items: center;
      flex-direction: row;
      position: relative;
      height: 86vh;
      background-image: url('../../images/Dashboard/bg-desktop-dashboard.png');
      background-repeat: no-repeat;
      background-size: cover;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        margin-right: 290px;
        height: 100%;
        border: 1px solid #e7e5f2;
        box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
          1px 0px 0px rgba(255, 255, 255, 0.6);
      }
    }

    &_section {
      flex-direction: column;
      padding-bottom: 150px;
    }

    &_field {
      padding-bottom: 150px;
    }

    &_currency {
      margin-left: -30px;
    }

    &_chart {
      display: flex;
      margin-left: 130px;
    }

    &_title {
      font-family: 'Poppins';
      margin-bottom: 20px;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 45px;
    }

    &_table {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      padding-left: 0px;
      min-width: 370px;
    }

    &_select {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 32px;
    }
  }
}
