.dashboard {
  &_container {
    // display: flex;
    // flex-direction: column;
    padding-top: 15px;
    margin-left: -25px;
    min-width: 100%;
    background-color: rgba(208, 202, 202, 0.2);
    justify-content: center;
    align-items: center;
  }
  &_currency {
    display: none;
  }
  &_section {
    display: flex;
    justify-content: center;
    
  }
}
.table {
  margin-top: 32px;
}

@media screen and (min-width: 767px) {
  .dashboard {
    &_container {
      min-height: 90vh;
      background-image: url('../../images/Dashboard/bg-tablet-dashboard.png');
      background-repeat: no-repeat;
      background-size: cover;

      justify-content: center;
      flex-direction: column;
    }

    &_section {
      display: flex;
    }
    &_currency {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 30px;
    }
  }
  .table {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .dashboard {
    &_container {
      flex-direction: row;
      background-image: url('../../images/Dashboard/bg-desktop-dashboard.png');
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      position: relative;
      height: 86vh;
      justify-content: center;
      align-items: center;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        margin-right: 290px;
        height: 100%;
        border: 1px solid #e7e5f2;
        box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
          1px 0px 0px rgba(255, 255, 255, 0.6);
      }
    }
    &_section {
      flex-direction: column;
      padding-bottom: 150px;
    }

    &_currency {
      margin-left: -30px;
    }
  }
}
