.white {
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--element-inactive-color);
    background: var(--btn-txt-main-color);
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    outline: none;
    padding-top: 5px;
    border: 1px solid var(--element-inactive-color);
    border-radius: 20px;
    width: 280px;
    height: 50px;
    margin-bottom: 20px;
    transition: ease-in-out all 350ms;
    cursor: pointer;

    @media screen and (min-width: 768px) {
            width: 300px;
        }

    &:hover {
        color: var(--btn-txt-main-color);
        background-color: var(--btn-bg-main-color);
        border: none;
        }
}