.container {
    display: flex;
}

.label {
    background-color: var(--btn-txt-main-color);
    display: flex;
    width: 100%;
    height: 58px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: var(--txt-main-color);
    border-radius: 30px;
}

.list {
    width: 100%;
}

.summary {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Circe';
    color: var(--txt-main-color);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    &__expense {
        color: var(--expense-color);
    }

    ;

    &__income {
        color: var(--income-color);
    }
}

.table {
    display: flex;
    width: 100%;
    display: block;

    &__item {
        width: 100%;
        display: flex;


        padding-right: 20px;
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: row;

    }

    &__value {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__name {
        display: flex;
        font-size: 16px;
        color: var(-txt-main-color);
        font-family: 'Circe';
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
    }

    &__total {
        display: flex;
        font-size: 16px;
        color: var(-txt-main-color);
        font-family: 'Circe';
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
    }


    &__line {
        width: 100%;
    }
}

@media screen and (min-width: 767px) {
    .label {
        width: 336px;
    }

    .list {
        width: 336px
    }

    .summary {
        width: 336px;
    }
}

@media screen and (min-width: 1280px) {
    .label {
        width: 395px;
    }

    .list {
        width: 395px;
    }

    .summary {
        width: 395px;
    }
}