.container {
    display: flex;
    
}

.list {
    width: 100%;
}

.item {
    display: block;
}

.line {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 14px;
}

.summary {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Circe';
    color: var(--txt-main-color);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    &__expense {
        color: var(--expense-color);
    }

    ;

    &__income {
        color: var(--income-color);
    }
}