// @import '../../common/utils/vars.scss';
// @import '../../common/main.scss';

.main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--dropdown-bg-active-color);
}

.wallet {
  display: flex;
}

img {
  width: 40px;
  height: 40px;
}

.title {
  font-family: poppins;
  color: var(--txt-main-color);
  font-weight: 700;
  font-size: 30px;
  padding-left: 20px;
  line-height: 45px;
}

.logoutDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--main-font);
}

.logoutBtn {
  background-color: var(--dropdown-bg-active-color);
  border: none;
  color: var(--txt-inactive-form);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.exitIcon {
  width: 18px;
  fill: var(--txt-inactive-form);
}

.exitTxt {
  color: var(--txt-inactive-form);
  font-weight: 400;
  font-size: 18px;
  padding-left: 8px;
  line-height: 26.53px;
}

// .exitIcon:hover,
// .exitIcon:hover {
//   fill: var(--expense-color);
// }

.name {
  font-family: circe;
  color: var(--txt-inactive-form);
  font-weight: 400;
  font-size: 18px;
  line-height: 26.53px;

}
