.wrapper {
display: none;

  @media screen and (min-width: 768px) {
    width: 334px;
    display: block;
    height: 80px;
    margin-top: 28px;
    background: #ffffff;
    border-radius: 30px;

    &_title {
        font-family: 'Circe';
        text-align: start;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        text-transform: uppercase;
        margin-left: 40px;
        color: #a6a6a6;
        padding-top: 8px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 390px;
    margin-right: 25px;
  }
}

.title {
  font-family: 'Circe';
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-left: 40px;
  color: #a6a6a6;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
  color: #000000;
  margin-left: 40px;
}

.currency {
  font-weight: 300;
  margin-right: 10px;
}
